#background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url("https://simpocitybucket.s3.sa-east-1.amazonaws.com/archive/otros/EmpresaId_527_730202123640.tmp") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-size:cover !important;
    padding: 10px;
    color: var(--gris49);
    font-family: Arial, sans-serif;
}

.imgSpot {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    background-color: var(--blancoe9);
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--blancoe9) 0px 0px 15px 5px;
}

#login-container {
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--negro) 0px 0px 5px;
    width: 100%;
    max-width: 400px;
    height: auto;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

/* Media Query para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 768px) {
    #login-container {
        padding: 1.5rem;
        width: 90%;
        max-width: 350px;
    }
}

/* Media Query para pantallas muy pequeñas (por ejemplo, móviles en modo vertical) */
@media (max-width: 480px) {
    #login-container {
        width: 90%;
        max-width: 300px;
        padding: 1rem;
    }
}


.titulo-form{
    margin-bottom: 1rem;
    font-size: 14px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-login{
    padding: 0.75rem;
    border: 2px var(--lightgrey) solid;
    border-radius: 5px;
    background-color: var(--blanco);
    color: #094867;
    font-size: 14px;
    text-align: center;
}

.input-login:focus{
    border: 1px var(--negro) solid !important;
    outline: none;
}

.forgot-pass {
    text-decoration: none;
    color: var(--gris49);
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s;
}

.forgot-pass:hover{
    transform: scale(1.05);
}

#login-form button{
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, var(--celeste2e), var(--azul09));
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-form button:hover {
    background: linear-gradient(to top, var(--celeste2e), var(--azul09));
}

#login-form button.success {
    transform: scale(1.05);
    transition: background-color 0.5s ease, transform 0.3s ease;
}

#login-form {
    margin-bottom: 1rem;
}

#error-message {
    font-size: 14px;
}