.data-box-reminder {
    background: var(--blanco);
    border-left: 5px solid #007bff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 12px;
    animation: fadeInScale 0.5s ease-out;
    animation-fill-mode: forwards;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.data-box-reminder:hover {
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.data-content-reminder h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2em; /* Ajusta según el tamaño de fuente */
    white-space: normal;
    margin-bottom: 5px;
    color: var(--gris-oscuro);
}

.data-content-reminder p {
    margin: 1px 0;
    font-size: 12px;
    color: var(--gris);
}

.data-content-reminder strong {
    color: var(--gris-oscuro);
}